<h1>anecdotes</h1>

<p><%= link_to "+ contribute", new_anecdote_path %></p>

<div class="anecdotes">
    <% @anecdotes.each do |anecdote| %>
        <div class="anecdote">
            <h3><%= anecdote.title %></h3>
            <p>"<%= anecdote.content %>"</p>
            <p class="tags">
                <% anecdote.tags.each do |tag| %>
                    <div class="tag">
                        <%= tag.name %>
                    </div>
                <% end %>
            </p>
        </div>
    <% end %>
</div>