<h1><%= @anecdote.title %></h1>
<p><%= @anecdote.content %></p>
<% if @anecdote.tags.empty? %>
    <p>tag your anecdote</p>
<% end %>

<% @anecdote.tags.each do |tag| %>
    <div class="tag">
        <%= tag.name %>
    </div>
<% end %>