<h1>anas</h1>
<div class="anas">
    <% @anas.each do |ana| %>
        <div class="ana">    
            <div class="ana-title-content">
                <h3>
                    <%= ana.title %>
                </h3>
                <% ana.anecdotes.each do |content| %>
                    <p>
                        "<%= content.content %>"
                    </p>
                <% end %>
            </div>
            <div class="tags">
                <% ana.tags.each do |tag| %>
                    <div class="tag zero-six-opacity"><%= tag.name %></div>
                <% end %>
            </div>
           
        </div>
    <% end %>
</div>
