<h1 class='centered'>generate your ana for the day</h1>

<%= form_for @ana do |f| %>
    <div class="length-input centered">
        <p>the number of anecdotes your ana will include (max 9): </p>
        <%= number_field_tag 'length', nil, max: 9, :maxlength => 1, :class => 'number-field' %>
    </div>

    <h3 class='centered'>select the tags your ana will generate from</h3>
    <div class="tags-checks">
        <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name, { hide_label: true }) do |b|
            b.label(:"data-value" => b.value) { b.check_box + b.text }
            end %>
    </div>


    <%= f.submit 'generate', :class => 'submit' %>
<% end %>