@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;600&display=swap');

body {
    font-family: 'Roboto Mono', monospace;
    background-color: black;
    color: white;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.space {
    width: 100%;
    max-width: 960px;
    height: 90px;
    display: hidden;
}

nav {
    width: 100%;
    max-width: 960px;
    max-height: 90px;
    min-height: 90px;
    background-color: black;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid white;
    box-shadow: 10px -1px 0px black, -10px -1px 0px black;
}

nav a {
    font-size: 18px;
}

a {
    text-decoration: none;
}

.inline {
    display: inline;
}

.logo {
    margin: 0;
    padding: 0;
}

.logo h1 {
    font-size: 36px;
    margin: 0;
    padding: 0;
}

.definition {
    max-width: 20em;
    margin: 0;
    padding: 0;
}

.links {
    display: flex;
    /* background-color: violet; */
    align-items: center;
    font-size: 20px;
    gap: 2em;
}

.welcome {
    border-bottom: 1px solid white
}

.tags {
    font-size: 14px;
}

.centered {
    text-align: center;
}

.inline {
    display: inline;
}

.anas {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}

.ana {
    transition: all 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 1em 1em 1em;
    max-width: 100%;
    border: 1px solid white;
    border-radius: 0.5em;
    margin-bottom: 2em;
}

.anecdote:hover {
    box-shadow: 0px 0px 10px white;
}


.anecdotes {
    display: flex;
    flex-direction: column;
    gap: 0.8em;
    margin-bottom: 2em;
}

.anecdote {
    transition: all 0.2s;
    padding: 0 1em 0.7em 1em;
    max-width: 100%;
    border: 1px solid white;
    border-radius: 0.5em;
}

.anecdote h3 {
    margin-top: 0.6em;
}

.anecdote-show {
    padding-bottom: 0.5em;
}

.anecdote-show:hover {
    box-shadow: none;
}

.anecdote-show h1 {
    margin-top: 0.2em;
}

.edit_anecdote {
    text-align: center;
}

.anecdote > * {
    color: white;
}

.bottom {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.controls {
    display: flex;
    box-shadow: 0px 0px 0px black;
    font-size: small;
}

.edit {
    transition: all 0.2s;
    display: inline-flex;
    border: 1px solid white;
    border-top-left-radius: 0.3em;
    border-bottom-left-radius: 0.3em;
    border-right: 0;
    padding: 0 0.2em;
}

.delete {
    transition: all 0.2s;
    display: inline-flex;
    border: 1px solid white;
    border-top-right-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
    border-left: 0.3px;
    padding: 0 0.2em;
}

.edit a, .delete a {
    color: white;
}

.edit:hover, .delete:hover {
    background-color: black;
}

/* .controls {
    border: 1px solid white;
    border-radius: 0.5em;
    padding: 0 0.2em;
    background-color: white;
}

.controls a {
    color: black;
} */

.tags {
    margin: 0;
}

.tag, .tags-checks > label {
    border: 1px solid white;
    transition: all 0.1s;
    display: inline-flex;
    border-radius: 0.3em;
    padding: 0.2em;
    margin: 0.2em;
}

.discretion {
    font-size: 12px;
}

a {
    color: pink;
}

.new_anecdote {
    text-align: center;
    margin: 2em;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 0.5em;
}

.content-input {
    display: block;
    margin: 1em auto;
    transition: all 0.2s;
    background-color: black;
    color: white;
    resize: vertical;
    width: 60%;
    height: 10em;
    box-sizing: border-box;
    border: 1px solid white;
    border-radius: 0.5em;
    padding: 0.2em;
    /* margin: 0.2em; */
    white-space: normal;
    overflow: hidden;
}

.content-input, .anecdote {
    overflow-wrap: break-word;
}

.field_with_errors {
    display: inline;
}

input {
    transition: all 0.15s;
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 0.5em;
    font-family: 'Roboto Mono', monospace;
}

.user-form {
    max-width: 30%;
    text-align: center;
    margin: 0 auto;
}

#user_username, #username {
    box-sizing: border-box;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    width: 100%;
    height: 2em;
    font-size: large;
}

#user_password {
    box-sizing: border-box;
    border-top: none;
    border-bottom: none;
    border-radius: 0;
    width: 100%;
    height: 2em;
    font-size: large;
}

#user_password_confirmation, #password {
    box-sizing: border-box;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    width: 100%;
    height: 2em;
    font-size: large;
}

.sign-up, .log, .submit {
    height: 2em;
    font-size: large;
}

.sign-up, .log {
    width: 100%;
}

.sign-up:hover, .log:hover, .submit:hover, .tag:hover, .tags-checks > label:hover, .tags-checks > label:focus, .checked {
    background-color: white;
    color: black;
    cursor: pointer;
}

input[type="checkbox"]:checked + label {
    background-color: white;
}

.submit {
    width: 30%;
    height: 2em;
    font-size: large;
    display: block;
    margin: 0.5em auto;
}

.tags-checks {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
    padding-bottom: 2em;
    border-bottom: 1px solid white;
}

.tags-checks > label {
    flex-shrink: 0;
}

input[type='checkbox'] {
    display: none;
}

label:checked {
    background: brown;
}

#myInput {
    box-sizing: border-box;
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

#myUL {
/* Remove default list styling */
list-style-type: none;
padding: 0;
margin: 0;
}

#myUL li a {
transition: all 0.2s;
border: 1px solid white; /* Add a border to all links */
margin-top: -1px; /* Prevent double borders */
background-color: black; /* Grey background color */
padding: 12px; /* Add some padding */
text-decoration: none; /* Remove default text underline */
font-size: 18px; /* Increase the font-size */
color: white; /* Add a white text color */
display: block; /* Make it into a block element to fill the whole list */
}

#myUL li a:hover:not(.header) {
background-color: white; /* Add a hover effect to all links, except for headers */
color: black;
}

/* themes */

.themes {
    max-width: 60%;
    margin: 0 auto;
}

.theme {
    transition: all 0.1s;
    display: inline-flex;
    border-radius: 0.3em;
    padding: 0.2em 0.4em;
    margin: 0.2em;
    opacity: 0.4;
}

.theme:hover, .theme:active, .opaque {
    opacity: 1;
}

input[type="radio"] {
    display: none;
}

.default {
    color: white;
    background: black;
    border: 1px solid white;
}

.drowning {
    border: 2px solid #4a6fb5;
}

.drowning, .drowning > h3 {
    color: #4a6fb5;
    background: #191826;
}

.magic {
    border: 2px solid #a288d9;
}

.magic, .magic > h3, .magic > p {
    color: #a288d9;
    background: #091f2c;
}

.nord {
    border: 2px solid #617b94;
}

.nord, .nord > h3 {
    color: #617b94;
    background: #242933;
}

.rosepine {
    border: 2px solid #e0def4;
}

.rosepine, .rosepine > h3 {
    color: #e0def4;
    background: #1f1d27;
}

.olivia {
    border: 2px solid #deaf9d;
}

.olivia, .olivia > h3 {
    color: #deaf9d;
    background: #1c1b1d;
}

.vscode {
    border: 2px solid #007acc;
}

.vscode, .vscode > h3 {
    color: #007acc;
    background: #1E1E1E;
}

.midnight {
    border: 2px solid #9fadc6;
}

.midnight, .midnight > h3, .midnight > p {
    color: #9fadc6;
    background: #0b0e13;
}

.bliss {
    color: #665957;
    background: #262727;
    border: 2px solid #665957;
}

.dots {
    border: 2px solid #7f88ab;
}

.dots, .dots > h3, .dots > p {
    color: #7f88ab;
    background: #121520;
}

@media only screen and (max-width: 785px) {
    .definition {
      display: none;
    }
  }